{% extends 'base.html.twig' %}

{% block title %}Edit Format{% endblock %}

{% block body %}
    <h1>Edit Format</h1>

    {{ include('format_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_format_type_index') }}">back to list</a>

    {{ include('format_type/_delete_form.html.twig') }}
{% endblock %}
