<form method="post" action="{{ path('app_formation_type_delete', {'id': formation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette formation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    <button class="btn mt-2"><img src="{{asset('build/img/trash-icon.svg')}}" alt="icon poubelle" title="Supprimer"></button>
</form>
