{% extends 'backoffice_base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <div class="page" data-current="formations"></div>
    <h1>Create new Formation</h1>

    {{ include('formation_type/_form.html.twig') }}

    <a href="{{ path('app_formation_type_index') }}">back to list</a>

    {% block javascripts %}
        {{ encore_entry_script_tags('backoffice') }}
        {{parent()}}
    {% endblock %}
    
{% endblock %}
